.bottom-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25A7FF;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  
  .bottom-to-top-button.visible {
    display: flex;
  }
  
  .bottom-to-top-button i {
    margin: 0;
    padding: 0;
  }
  
  