.logo_import{
    text-align: center;
    margin: 5% 0;
    margin-left: 5%;
}
.logo_import p{
    color: #7B7B7B;
    text-align: center;
    font-family: Montserrat;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 100.5%; /* 8.04px */  
    width: 35%;  
    margin: 2% 0;
}
.logo_import img{
    width: 40%;
}
.logo_box{
    border-radius: 5px;
    border: 1px dashed #959799;
    background: #D9D9D9;
    padding: 2% 1%;  
    width: 35%;  
}
.logo_box p{
    width: 100%;
}
.entreprise_content2 p{
    color: #7B7B7B;
    font-family: Plus Jakarta Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100.5%; /* 12.06px */    
}
.parameters_entreprise_content{
    margin: 2% 0;
}
.save_logo{
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100.5%; /* 16.08px */   
    border-radius: 2px;
    background: #25A7FF;     
    margin: 3%;
    padding: 10px ;
}
.delete_logo{
    color: #666;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    padding: 10px;

    line-height: 100.5%; /* 16.08px */    
    border-radius: 2px;
    background: #D9D9D9;    
}
@media (max-width:600px) {
    .entreprise_btnns{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}