.header {
  padding: 0;
  margin: auto;
  text-align: center;
}
.header_cards {
  display: flex;
  padding: 5%;
  margin: auto;
  gap: 2%;
  width: 80%;
}
.header_advantages h2 {
  position: relative;
  padding: 30px 0;
  color: #0b2840;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120.5%; /* 48.2px */
}
.header_advantages h2 img {
  position: absolute;
  top: -10px;
  right: 20%;
}
.header h1 {
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 116%;
  width: 40%;
  margin: auto;
}
.header p {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.4%;
}
.header a {
  border-radius: 5px;
  background: #00f8f7;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.25);
  padding: 1% 2%;
  color: #0b2840;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 132.023%;
  position: relative;
  top: 50px;
}
.header_advantages {
  margin-top: 6%;
}
.header_test p {
  margin: 1% auto 2% auto;
}
.header_cards img {
  border-radius: 5px;
  background: #0b2840;
  box-shadow: 0px 20px 18px 0px rgba(0, 0, 0, 0.13);
  padding: 15px;
  margin-bottom: 15%;
}
.header_card {
  width: 85%;
  margin: auto;
  height: 250px;
}
.header_question h2 {
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 116%;
}
.header_card h3 {
  color: #0b2840;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 93.523%; /* 14.964px */
  padding-bottom: 20px;
}
.header_card p {
  color: #7b7b7b;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 112.523%; /* 15.753px */
}
.header_advantages h6 {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.4%; /* 20.544px */
  width: 40%;
  margin: auto;
}
.header_question p {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125.4%;
  position: relative;
  top: 20px;
}
.header_question p,
.header_question h2 {
  width: 40%;
  margin: auto;
}

.time_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
  gap: 20px;
}
.time_header .h2{
  color: #7B7B7B;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 157.5%; /* 28.35px */
width: 50%;
}

.time_header button {
  border-radius: 5px;
  background: #00f8f7;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.25);
  color: #0b2840;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 132.023%; /* 23.764px */
  padding: 13px 20px;
}

.time_header h1 {
  color: #000;
  font-family: Plus Jakarta Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 116%;
  width: 40%;
  margin: auto;
  text-align: center;
  padding-bottom: 40px;
}

.time_header span {
  color: #25a7ff;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 116%; /* 46.4px */
}
.time_header_cards p {
  color: #25a7ff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 93.523%; /* 14.964px */
  letter-spacing: 0.16px;
}
.time_header_cards h6 {
  color: #000;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 93.523%; /* 22.445px */
}
.time_client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 38%;
  margin: auto;
}
.time_client_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  border-radius: 25px;
  background: linear-gradient(215deg, #fff 0%, #e5f4ff 100%);
  box-shadow: 5px 10px 32px 0px rgba(0, 0, 0, 0.13);
  padding: 8% 2%;
}
.time_client_content h2 {
  color: #000;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.time_client_content h5 {
  color: #959799;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 126.5%; /* 20.24px */
}
.time_client_content p {
  color: #959799;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 126.5%; /* 17.71px */
}
.time_client_img {
  margin-bottom: -6%;
  z-index: 9999;
}
.time_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% 100%;
  background-image: url(../../assets/time_bg.png);
  text-align: center;
  padding: 5% 23%;
  width: 100%;
  margin: 2% 0 0 0;
}
.time_text p {
  color: #fff;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 186.5%; /* 37.3px */
}
.time_text span {
  color: #25a7ff;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 186.5%;
}
.test_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 4% 0;
}
.test_text h2 {
  color: #0b2840;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.test_text h3 {
  color: #7b7b7b;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 132%; /* 26.4px */
}
.test_text p {
  color: #7b7b7b;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 132%; /* 21.12px */
}
.test_text a {
  color: #0b2840;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.28px;
  border-radius: 40px;
  background: #25a7ff;
  box-shadow: 5px 10px 32px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 40px;
  margin: 35px 0;
}
.project_testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% 100%;
  background-image: url(../../assets/time_bg2.png);
  text-align: center;
  padding: 5% 0%;
  width: 100%;
  text-align: start;
  margin: 6% 0;
  gap: 40px;
}
.testimonials_cards{
   display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
    gap: 30px;

}
.project_testimonials h1 {
 color: #FFF;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 118%; /* 47.2px */
}
.project_testimonials span {
  color: #0B2840;
font-family: Plus Jakarta Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 118%;
}
.time_logiciel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  text-align: center;
  gap: 74px;
}
.time_logiciel h1 {
  color: #000;
  font-family: Plus Jakarta Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 117.5%;
  width: 70%;
}
.time_logiciel span {
  color: #25a7ff;
}
.time_logiciel_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4%;
}
.time_logiciel_lines {
  width: 70%;
}
.time_logiciel_img {
  width: 40%;
}
.time_logiciel_img img{
  width: 100%;
}
.time_line_reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  gap: 2%;
  padding-bottom: 22px;
}
.time_tic_wrapper1 {
  border-radius: 31px;
  background: #25a7ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px 3px;
}
.time_tic1 {
  border-radius: 31px;
  background: #25a7ff;
  width: 45px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #fff;
}
.time_tic_icon1 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bolder;
}
.time_line_text1 h4 {
  color: #000;
  text-align: right;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.time_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 120px;
  width: 80%;
  margin: auto;
}
.time_card_normal,.time_card_reverse {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}
.time_card_normal_content,.time_card_reverse_content {
  background: radial-gradient(
    104.83% 136.27% at 50.09% 50%,
    #feffff 39.61%,
    #75c7ff 100%
  );
  box-shadow: 5px 10px 32px 0px rgba(0, 0, 0, 0.13);
  width: 100%;
  height: fit-content;
  flex-shrink: 0;
  border-radius: 25px;
  padding: 56px 24px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.time_card_reverse_content{
  text-align: end;
  align-items: flex-end;
  justify-content: flex-end;
}
.time_card_normal_blue,
.time_card_reverse_blue {
  width: 121px;
  height: 63px;
  flex-shrink: 0;
  border-radius: 36.5px;
  background: linear-gradient(163deg, #25a7ff 0%, #0476c3 100%);
  box-shadow: 5px 10px 32px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: -2%;
  z-index: 9999;
  position: relative;

}
.time_card_normal_blue{
  margin-left: -70%;
}
.time_card_reverse_blue{
  margin-left: 80%;
  z-index: 9999;
}
.time_card_normal_content h1,.time_card_reverse_content h1{
  color: #000;
font-family: Plus Jakarta Sans;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 110%; /* 39.6px */
width: 80%;
}
.time_card_normal_content span, .time_card_reverse_content span{
  color: #25A7FF;
}
.time_card_normal_content p{
  color: #7B7B7B;
font-family: Plus Jakarta Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 157.5%; /* 28.35px */
}
@media screen and (max-width: 1920px){
  .time_text {
    padding: 5% 21%;
  
  }
  .time_cards {
    
    width: 100%;
  
  }
  .time_logiciel {
    
    width: 60%;
    
  }
}
@media (max-width: 1024px) {
  .header_advantages h2 img {
    display: none;
  }
  .header_cards {
    flex-direction: column;
    gap: 20px !important;
  }
  .header_cards img{
    margin: 0% 0;
  }
  .header h1,
  .header h2,
  .header_question p {
    width: 100%;
  }
  .header_question p {
    padding-bottom: 5%;
  }
  .header_card{
    height: fit-content;
  }
  .time_logiciel{
    width: 100%;
  }
  .time_logiciel h1{
    font-size: 38px;
  }
  .time_logiciel_row{
    flex-direction: column-reverse;
  }
  .time_header h1 {
    width: 80%;
    font-size: 38px;
  }
  .time_header span {
    font-size: 38px;
  }
  .time_header_cards p {
    font-size: 14px;
  }
  .time_header_cards h6 {
    font-size: 18px;
  }
  .time_header_card1,
.time_header_card2,
.time_header_card3,
.time_header_card4,
.time_header_card5 {
  width: 17%;
  height: 100px;
  border-bottom: 3px solid #25a7ff;
}
}
@media (max-width: 600px) {
 
  .header_cards {
    display: flex;
    padding: 5%;
    margin: auto;
    gap: 2%;
    width: 100%;
  }
  .header_advantages h2 {
    font-size: 30px;
  }
  .header_advantages h2 img {
    position: absolute;
    top: 0px;
    right: 20%;
  }
  .header h1 {
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%;
    width: 90%;
    margin: auto;
  }
  .header p {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128.4%;
  }
  .header_card {
    width: 85%;
    margin: auto;
    height: 250px;
  }
  .header_question h2 {
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%;
  }
  .header_card h3 {
    color: #0b2840;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 93.523%; /* 14.964px */
    padding-bottom: 20px;
  }
  .header_card p {
    color: #7b7b7b;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 112.523%; /* 15.753px */
  }
  .header_advantages h6 {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128.4%; /* 20.544px */
    width: 90%;
    margin: auto;
  }
  .header_question p {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125.4%;
    position: relative;
    top: 20px;
  }
  .header_question p,
  .header_question h2 {
    width: 90%;
    margin: auto;
  }
  
  .time_header_card1,
  .time_header_card2,
  .time_header_card3,
  .time_header_card4,
  .time_header_card5 {
    
    gap: 5px;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 2% 0;
    width: 60%;
  
  }

  .time_header button {
    font-size: 16px;
    padding: 13px 20px;
  }
  .time_header_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: start;
    gap: 15px;
    width: 100%;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 40px 32px 0px rgba(0, 0, 0, 0.13);
    padding: 2% 0;
  }
  .time_header h1 {
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%;
    width: 90%;
    margin: auto;
    text-align: center;
    padding-bottom: 40px;
  }
  .time_header span {
    color: #25a7ff;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%; /* 46.4px */
  }
  .time_header_cards p {
    color: #25a7ff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 93.523%; /* 14.964px */
    letter-spacing: 0.16px;
  }
  .time_header_cards h6 {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 93.523%; /* 22.445px */
  }
  .time_client {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 88%;
    margin: auto;
  }
  .time_client_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    border-radius: 25px;
    background: linear-gradient(215deg, #fff 0%, #e5f4ff 100%);
    box-shadow: 5px 10px 32px 0px rgba(0, 0, 0, 0.13);
    padding: 8% 2%;
  }
  .time_client_content h2 {
    color: #000;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .time_client_content h5 {
    color: #959799;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 126.5%; /* 20.24px */
  }
  .time_client_content p {
    color: #959799;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 126.5%; /* 17.71px */
  }
  .time_client_img {
    margin-bottom: -8%;
    z-index: 9999;
  }
  .time_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
    background-image: url(../../assets/time_bg.png);
    text-align: center;
    padding: 5% 5%;
    width: 100%;
    text-align: start;
    margin: 6% 0;
  }
  .time_text p {
    color: #fff;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 186.5%; /* 37.3px */
  }
  .time_text span {
    color: #25a7ff;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 186.5%;
  }
  .test_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 4% 0;
  }
  .test_text h2 {
    color: #0b2840;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .test_text h3 {
    color: #7b7b7b;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 132%; /* 26.4px */
  }
  .test_text p {
    color: #7b7b7b;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 132%; /* 21.12px */
  }
  .test_text a {
    color: #0b2840;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.28px;
    border-radius: 40px;
    background: #25a7ff;
    box-shadow: 5px 10px 32px 0px rgba(0, 0, 0, 0.25);
    padding: 20px 40px;
    margin: 35px 0;
  }
  .time_saisie {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
    background-image: url(../../assets/time_bg2.png);
    text-align: center;
    padding: 5% 10%;
    width: 100%;
    text-align: start;
    margin: 6% 0;
  }
  .time_saisie h1 {
    color: #0b2840;
    font-family: Plus Jakarta Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 146.5%; /* 59.68px */
  }
  .time_saisie p {
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 186.5%;
  }
  .time_logiciel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    text-align: center;
    gap: 74px;
  }
  .time_logiciel h1 {
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 117.5%;
    width: 100%;
  }
  .time_logiciel span {
    color: #25a7ff;
  }
  .time_logiciel_row {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 4%;
  }
  .time_logiciel_lines {
    width: 100%;
  }
  .time_logiciel_img {
    width: 80%;
  }
  .time_logiciel_img img{
    width: 100%;
  }
  .time_line_reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 2%;
    padding-bottom: 22px;
  }
 
  .time_line_text1 h4 {
    color: #000;
    text-align: right;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .time_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 120px;
  }
  .time_card_normal,.time_card_reverse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
  .time_card_normal_content,.time_card_reverse_content {
    background: radial-gradient(
      104.83% 136.27% at 50.09% 50%,
      #feffff 39.61%,
      #75c7ff 100%
    );
    box-shadow: 5px 10px 32px 0px rgba(0, 0, 0, 0.13);
    width: 100%;
    height: fit-content;
    flex-shrink: 0;
    border-radius: 25px;
    padding: 56px 24px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .time_card_reverse_content{
    text-align: end;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .time_card_normal_blue,
  .time_card_reverse_blue {
    width: 121px;
    height: 63px;
    flex-shrink: 0;
    border-radius: 36.5px;
    background: linear-gradient(163deg, #25a7ff 0%, #0476c3 100%);
    box-shadow: 5px 10px 32px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: -10%;
    z-index: 9999;
    position: relative;
  
  }
  .time_card_normal_blue{
    margin-left: -50%;
  }
  .time_card_reverse_blue{
    margin-left: 50%;
    z-index: 9999;
  }
  .time_card_normal_content h1,.time_card_reverse_content h1{
  font-size: 26px;
  width: 90%;
  }
  .time_card_normal_content span, .time_card_reverse_content span{
    color: #25A7FF;
  }
  .time_card_normal_content p{
    color: #7B7B7B;
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 157.5%; /* 28.35px */
  }
}