.fajigo_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6% 0;
    gap: 80px;
    width: 65%;
    margin: auto;
}
.fajigo_img {
    width: 30%;
    position: relative;
}
.fajigo_img img {
    width: 100%;
    height: 100%;
}
.fajigo_green {
    border-radius: 2.28125rem;
    background: linear-gradient(163deg, #00F8F7 0%, #00F8BC 100%);
    box-shadow: 5px 10px 32px 0px rgba(0, 0, 0, 0.25);
    padding: 5% 10%;
    position: absolute;
    left: 75%;
    top: -3.5%;
}
.fajigo_text {
    width: 39%;
    }
.fajigo_text p {
    padding: 5% 0%;
}
.fajigo_body{
    width: 50%;
    margin: auto;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.fajigo_body p{
    color: #7B7B7B;
font-family: Plus Jakarta Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 132%; /* 21.12px */
}
.fajigo_header_line{
    display: flex;
    flex-direction: column;
   
    gap: 20px;
}
.fajigo_header_line h1{
    color: #000;
font-family: Plus Jakarta Sans;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 100%; /* 32px */
}
.fajigo_header_line h2{
    color: #7B7B7B;
font-family: Plus Jakarta Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 104%; /* 20.8px */
}

.fajigo_line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    text-align: start;
    gap: 2%;
    width: 80%;
  }
.fajigo_text h1{
    color: #25A7FF;
    font-family: Plus Jakarta Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 117.5%;
    width: 100%;
}
.fajigo_tic_wrapper {
    border-radius: 31px;
    background: #00F8BC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 3px;
  }
  .fajigo_tic {
    border-radius: 31px;
    background: #00F8BC;
    width: 45px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #fff;
  }
  .fajigo_tic_icon {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bolder;
  }
  .fajigo_line_text{
    color: #000;
font-family: Plus Jakarta Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 120.5%; /* 21.69px */
  }
  .fajigoo_text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .fajigoo_text h5{
    color: #000;
font-family: Plus Jakarta Sans;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 36px */
  }
  .fajigoo_text span{
    color: #25A7FF;
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  } 
  @media screen and (max-width: 1920px){
    .fajigo_header {
        width: 80%;
        margin: auto;
    }
  }
  @media screen and (max-width: 1280px){
    .fajigo_body{
        width: 90%;
        margin: auto;  
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
    }
    .fajigoo_text img{
        width: 40%;
    }
    .fajigo_header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 6% 0;
        gap: 80px;
        width: 100%;
        margin: auto;
    }
    .fajigo_img {
        width: 60%;
        position: relative;
    }
    .fajigo_img img {
        width: 100%;
        height: 100%;
    }
  
    .fajigo_text {
        width: 80%;
        }
  }