.section1_policy{
    width: 50%;
    margin: 5% auto;
}
.section1_policy ul{
    padding-left: 5%;
}
.section1_policy p, .section1_policy h3{
    margin: 2% auto;
}
.section1_policy h1{
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%; /* 41.76px */
}
.section1_policy h2{
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 116%; /* 32.48px */
}
.section1_policy p{
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 128.4%; /* 20.544px */
}
.section1_policy h3{
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%; /* 23.2px */
}
.section1_policy h5{
    color: #7B7B7B;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 132%; /* 21.12px */
}
@media screen and (max-width: 1920px){
    .section1_policy{
        width: 70%;
        margin: 5% auto;
    }
}
@media (max-width:600px){
    .section1_policy{
        width: 95%;
        white-space: pre-wrap;
    }
}