#trial {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 90px 0;
    background-repeat: no-repeat;
    background-attachment:scroll; 
    background-size: 100% 100%;
    background-image: url(../../assets/trial.png);
    text-align: center;
    width: 100%;
}
#trial h1 {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-family: Plus Jakarta Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 31px;
}
#trial h2 {
  color: #d4d3d3;
  text-align: center;
  font-size: 20px;
  font-family: Plus Jakarta Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 132%;
  padding-bottom: 55px;
}
#trial .btn_trial {
  border-radius: 40px;
  background: #00f8bc;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.25);
  color: #0b2840;
  text-align: center;
  font-size: 32px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.28px;
  padding: 20px 47px;
}
@media screen and (max-width: 810px) {
  #trial {
    padding: 90px 20px;
    
}
  #trial h1 {
    font-size: 26px;
   
  }
  #trial h2 {

    font-size: 16px;
   
  }
  #trial .btn_trial {
   
    font-size: 18px;
 
    padding: 14px 24px;
  }
}
