.title_login{
    color: #25A7FF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%; /* 46.4px */
    margin-top: 10%;
    margin-bottom: 4%;
}
.login_container{
    width: 72%;
    margin:2% auto 20% auto;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 6px 6px 27px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    padding: 3%;
}
.login_container h2, .login_container p{
    text-align: center;
}
.login_container h2{
    color: #0B2840;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.login_container p{
    color: #838383;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.login_signup{
    color: black;
}
.continue_login{
    display: flex;
    color: #25A7FF;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: flex-end;
    gap: 1%;
    align-items: flex-start;
    
}
.login_container input {
    border-radius: 8px;
    background: #EFF0F2;
    width: 100%;
    padding: 2%;
    margin-bottom: 4%;
}
.login_container label{
    position: relative;
    left: 10px;
    margin-bottom: 10px;
    display: block;
    color: #4D5959;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    
    
}
.login_container form{
    margin-top: 130px;
    
}
.password_login{
    margin-bottom: 15% !important;
}
.login_img{
    position: absolute;
    top: 1.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    
}
.login_img img{
    width: 25%;
}

.login_content{
    display: none;
}
.active_profile,.active_cover,.active_submit,.active_login,.active_cv,.active_info{
    display: block;
}
.textarea_login{
    height: 200px;
    
}
input[type=submit]{
    border-radius: 5px;
    background: #25A7FF;
    color: white;
    width: 15%;
    margin-left: 43.5%;
    
}
input[type=file]::file-selector-button{
    width: 20%;
    background: url('../../assets//icons/Upload\ login.svg');
    background-repeat: no-repeat;
    padding: 2%;
    background-position: center;
    border-radius: 8px;
    position: relative;
    color: transparent;
    border: none;
    position: absolute;
    background-color: #EFF0F2;
    left: 70%;
    top: 55%;
    

}
input[type=file]{
    color: transparent;
    width: 70%;
    
    
}
.import_file_writing{
    position: absolute;
    top: 60%;
    left: 6%;

}
.info_form1{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1%;
}
.info_form1 div{
    width: 48%;
}
.info_form1 input{
    padding: 4%;
}
.info_form2{
    display: flex;
    justify-content: space-between ;
    width: 97.5%;
}
.info_form2 div{
    width: 32%;
}
.info_form2 input{
    padding: 6%;
}
@media (min-width:2550px){
    input[type=file]::file-selector-button{
        top: 51%;
        
    
    }
    .import_file_writing{
        top: 57%;
    }
}
@media (max-width:600px){
    .login_container{
        width: 98%;
        margin: 10% auto 50% auto;
        padding: 10%;
        font-size: 13px;
    }
    
    .login_img{
        width: 90%;
    }
    .login_container label {
        font-size: 14px;
    }
    .login_container form{
        margin-top: 35px;
    }
    .login_container p{
        font-size: 12px;
    }
    .import_file_writing{
        left: 12%;
        top: 58%;
    }
    input[type=file]::file-selector-button{
        background-size: 30%;
    }
    .continue_login{
        font-size: 18px;
        align-items: center;
    }
    input[type=submit]{
        width: 42%;
        margin-left: 29.5%;
    }
    
}