.pw_header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;

}
.pw_header h1{
    margin: 0;
}
.pw_header a {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100.5%; /* 16.08px */
    border-radius: 2px;
    background: #0B2840;
    padding:1% 2%;
}
.pw_form {
    justify-content: flex-start;
    padding: 3%;
}
.pw_change form input[type=submit]{
    
    margin-left: 5%;
    margin-top: 0%;

  } 
  .pw_change form{
    background: white;
  }
  .pw_change .input_settings{
    margin: 2%;
  }