.section1_directives{
    margin: 5% auto 2% auto;
    text-align: center;
    width: 80%;
}

.directives_icon{
    border-radius: 5px !important;
    background: #1F50FF !important;
    box-shadow: 0px 20px 18px 0px rgba(0, 0, 0, 0.13) !important;
}
.directives_cards{
    width: 80% !important;
}
.directives_p{
    width: 60%;
    margin: auto;
}
.directives_cards p{
    color: #7B7B7B;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 93.523%; /* 13.093px */
    margin: 2% auto;
}
.section2_directives{
    width: 60%;
    margin: auto;
}
.section2_directives h2, .section1_directives h2{
    color: #000;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%; /* 41.76px */
    margin: 4% auto;
}
@media screen and (max-width: 1920px){
    .directives_cards{
        width: 100% !important;
    }
}
@media (max-width:600px){
    .directives_p{
        width: 100%;
    }
    .section2_directives{
        width: 100%;
    }
}