.commander3{
    width: 65%;
    margin: auto;
}
.commander3 h1{
    color: #25A7FF;
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%; /* 37.12px */    
    margin: 3% auto;
}
.commander3_content{
    border-radius: 5px;
    border: 0.5px solid #25A7FF;
    background: radial-gradient(59.3% 57.09% at 42.43% 53.5%, rgba(237, 237, 237, 0.98) 0%, #FEFFFF 100%);
    box-shadow: 0px 15px 23px 0px rgba(0, 0, 0, 0.13);    
    padding-bottom: 220px;
}
.img_wrapper_commander{
    margin:0 2% ;
}
.img_wrapper_commander img{
    padding:0 1%;
    margin-left: -1%;
}
