.show_details{
    display: flex;
    flex-direction: column;
    
}
.show_details .show_section{
  
    border: 0.2px solid #25A7FF;
background: radial-gradient(59.3% 57.09% at 42.43% 53.5%, rgba(237, 237, 237, 0.98) 0%, #FEFFFF 100%);
box-shadow: 0px 15px 23px 0px rgba(0, 0, 0, 0.13);
padding: 30px;
}
.show_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4% 15%;
}
  #show_section3{
    padding: 0 15%;
  }
 .show_section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  text-align: center;
 }
 .show_section h4{
  color: #959799;
font-family: Plus Jakarta Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
 }
 .show_section button{
  color: #FFF;
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 100.5%; /* 10.05px */
border-radius: 2px;
background: #25A7FF;
padding: 10px;
 }
  .show_section .p{
    color: #7B7B7B;
    text-align: start;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    width: 50%;
    font-weight: 400;
    line-height: 100.5%; /* 12.06px */}

.show_section .a{
  color: #0B2840;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 100.5%; /* 14.07px */
border-radius: 2px;
background: #D9D9D9;
padding: 10px 20px;
}
.comp_btn1{
  border-radius: 2px;
background: #25A7FF;
color: #FFF;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 100.5%;
padding: 15px 10px;

}
.comp_btn2{
  border-radius: 2px;
background: #D9D9D9;
color: #0B2840;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 100.5%; /* 14.07px */
padding: 15px 10px;
}
@media (max-width:600px){
  .show_details{
    display: flex;
    flex-direction: column;
    
}
.show_details .show_section{
  
    border: 0.2px solid #25A7FF;
background: radial-gradient(59.3% 57.09% at 42.43% 53.5%, rgba(237, 237, 237, 0.98) 0%, #FEFFFF 100%);
box-shadow: 0px 15px 23px 0px rgba(0, 0, 0, 0.13);
padding: 30px;
}
.show_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4% 5%;
}
  #show_section3{
    padding: 0 5%;
  }
 .show_section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  text-align: center;
 }
 .show_section h4{
  color: #959799;
font-family: Plus Jakarta Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
 }
 .show_section button{
  color: #FFF;
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 100.5%; /* 10.05px */
border-radius: 2px;
background: #25A7FF;
padding: 10px;
 }
  .show_section .p{
    color: #7B7B7B;
    text-align: start;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    width: 90%;
    font-weight: 400;
    line-height: 100.5%; /* 12.06px */}

.show_section .a{
  color: #0B2840;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 100.5%; /* 14.07px */
border-radius: 2px;
background: #D9D9D9;
padding: 10px 20px;
}
.comp_btn1{
  border-radius: 2px;
background: #25A7FF;
color: #FFF;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 100.5%;
padding: 15px 5px;

}
.comp_btn2{
  border-radius: 2px;
background: #D9D9D9;
color: #0B2840;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 100.5%; /* 14.07px */
padding: 15px 5px;
}
}