.vueappsapi,
.vueappsapi .col1_cards,
.vueappsapi .col2_cards {
  display: flex;
  flex-direction: column;
}
.vueappsapi {
  width: 60%;
  margin: auto;
  padding: 8% 0;
}
.vueappsapi h1 {
  color: #0B2840 ;
font-family: Plus Jakarta Sans;
font-size: 20px ;
font-style: normal;
font-weight: 700;
line-height: 116%; /* 23.2px */
}
.vueappsapi .dashboard_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 1%;
  column-gap: 20px;
}
.vueappsapi .col1_cards,
.vueappsapi .col2_cards {
  gap: 60px;
}

.divider {
  height: 0.08px;
  background-color: #d9d9d9;
  margin: 10px 0;
  width: 100%;
}
.vueappsapi .card {
  border-radius: 5px;
  border: 0.5px solid #25a7ff;
  background: radial-gradient(
    59.3% 57.09% at 42.43% 53.5%,
    rgba(237, 237, 237, 0.98) 0%,
    #feffff 100%
  );
  box-shadow: 0px 15px 23px 0px rgba(0, 0, 0, 0.13);
  padding: 6% 4%;
}
.vueappsapi .card h3,.vueappsapi .col1_cards h3,.vueappsapi .col2_cards h3 {
  color: #7B7B7B ;
  font-family: Plus Jakarta Sans;
  font-size: 16px ;
  font-style: normal;
  font-weight: 600 ;
  line-height: 100.5%; /* 16.08px */
}
@media (max-width:600px) {
  .vueappsapi {
    width: 90%;
    margin: auto;
    padding: 8% 0;
  }
  .vueappsapi h1 {
    color: #0B2840 ;
  font-family: Plus Jakarta Sans;
  font-size: 18px ;
  font-style: normal;
  font-weight: 700;
  line-height: 116%; /* 23.2px */
  }
}