.show_details {
  display: flex;
  flex-direction: column;
}
.show_details .show_section {
  border: 0.2px solid #25a7ff;
  background: radial-gradient(
    59.3% 57.09% at 42.43% 53.5%,
    rgba(237, 237, 237, 0.98) 0%,
    #feffff 100%
  );
  box-shadow: 0px 15px 23px 0px rgba(0, 0, 0, 0.13);
  padding: 30px;
}
.show_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4% 15%;
}
.show_title_btn {
  border-radius: 2px;
  background: #25a7ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  padding: 15px 30px;
  font-weight: 600;
  line-height: 100.5%;
}
.show_sections {
  display: flex;
  flex-direction: row;

  gap: 50px;
  padding: 0 15%;
}
#show_section1 {
  width: 50%;
}
#show_section2 {
  width: 50%;
}
#show_section3 {
  padding: 0 15%;
}
.show_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 60px;
  padding: 0 0;
}

.show_buttons button {
  color: #0b2840;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100.5%; /* 16.08px */
  background-color: transparent;
}
.show_buttons button:hover {
  cursor: pointer;
}
.show_buttonVisible {
  color: #25a7ff !important;
  border-bottom: 6px solid #25a7ff;
  padding-bottom: 20px;
}
.show_section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  text-align: center;
}
.show_section h4 {
  color: #959799;
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.show_section_title p {
  color: #7b7b7b;
  font-family: Montserrat;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 100.5%; /* 8.04px */
  padding-bottom: 15px;
}
.add_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px dashed #959799;
  background: #d9d9d9;
  padding: 20px 50px;
}
.show_section button {
  color: #fff;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 100.5%; /* 10.05px */
  border-radius: 2px;
  background: #25a7ff;
  padding: 10px;
}
.add_wrapper img {
  width: 60px;
  height: 60px;
}
.show_section_title {
  display: flex;
  flex-direction: row;
  gap: 28px;
}
.show_section_title h2 {
  padding-top: 20px;
  color: #0b2840;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 116%; /* 23.2px */
}
.show_section_text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
  width: 70%;
}
.show_section_text h6 {
  color: #7b7b7b;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  width: 50%;
  line-height: 100.5%; /* 14.07px */
}
.show_section_text p {
  color: #7b7b7b;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  width: 50%;
  font-weight: 400;
  line-height: 100.5%; /* 12.06px */
}
.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.show_section .p {
  color: #7b7b7b;
  text-align: start;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  width: 50%;
  font-weight: 400;
  line-height: 100.5%; /* 12.06px */
}

.submit {
  border-radius: 2px;
  background: #25a7ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  padding: 15px 20px;
  font-weight: 600;
  line-height: 100.5%; /* 16.08px */
}
.reset {
  border-radius: 2px;
  background: #fff;
  color: #25a7ff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  padding: 15px 20px;
  font-weight: 600;
  line-height: 100.5%; /* 16.08px */
  border: 1px solid #25a7ff;
}

.submit:hover,
.reset:hover {
  cursor: pointer;
}
input[type="radio"] {
  margin: 0 5px;
}
input[type="checkbox"] {
  margin: 0 5px;
}
label,
.contact_textfield h4 {
  color: #0b2840;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  line-height: 100.5%; /* 16.08px */
}
label span,
.contact_textfield span {
  color: #f00;
  margin-left: 5px;
}

.contact_textfield input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #959799;
  font-size: 16px;
  margin: 10px 0;
}
.textarea {
  width: 95% !important;
}
.npa {
  width: 40% !important ;
}
.contact_textfield input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
  border-color: #007bff;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}
form {
  width: 100%;
  padding: 0 0;
}
input::placeholder {
  color: #8e8e8e;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 132.023%;
  letter-spacing: 0.95px;
}
.searchrow {
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #959799;
  font-size: 16px;
  margin: 10px 0;
}
.searchrow input {
  width: 90%;
}
.searchrow1 {
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
  padding: 10px;
  border-radius: 4px;
  border: 0.5px solid #8e8e8e;
  font-size: 16px;
  margin: 10px 0;
}
.searchrow1 input {
  width: 80%;
  background-color: transparent;
}

.notes_title_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0% 0;
  width: 100%;
}
.notes1_title_row,
.notes2_title_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.notes1_title_row p {
  color: #7b7b7b;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100.5%; /* 12.06px */
}
.notes2_title_row h4 {
  color: #0b2840;
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100.5%; /* 12.06px */
}
.show_section .a {
  color: #0b2840;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100.5%; /* 14.07px */
  border-radius: 2px;
  background: #d9d9d9;
  padding: 10px 20px;
}
@media (max-width: 600px) {
  .show_details .show_section {
    padding: 20px !important;
  }
  .show_title {
    padding: 4% !important;
    align-items: center !important;
  }
  .show_title_btn {
    font-size: 12px !important;
    padding: 10px 15px !important;
  }
  .show_sections {
    display: flex;
    flex-direction: column;

    gap: 50px;
    padding: 0 5%;
  }
  #show_section1 {
    width: 100%;
  }
  #show_section2 {
    width: 100%;
  }
  #show_section3 {
    padding: 0 5% !important;
  }
  .show_buttons {
    gap: 20px;
  }
  .show_buttons button {
    font-size: 10px;
  }

  .show_buttonVisible {
    padding-bottom: 5px;
  }
  .show_section {
    gap: 10px;
  }

  .add_wrapper img {
    width: 40px !important;
    height: 40px !important;
  }
  .show_section_title {
    gap: 8px;
  }
  .show_section_title h2 {
    font-size: 15px;
  }
  .show_section_text {
    width: 100%;
  }
  .show_section_text h6 {
 
    font-size: 10px;
  }
  .show_section_text p {
    font-size: 10px;
  }
  .btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .show_section .p {
    
    font-size: 10px !important;
   
  }
.searchrow1{
  display: none;
}
  .submit {
  
    font-size: 12px !important;
    padding: 5px 10px !important;
 
  }
  .reset {

    font-size: 12px !important;
    padding: 5px 10px !important;
 
  }

  .submit:hover,
  .reset:hover {
    cursor: pointer;
  }
  input[type="radio"] {
    margin: 0 5px;
  }
  input[type="checkbox"] {
    margin: 0 5px;
  }
  label,
  .contact_textfield h4 {
    color: #0b2840;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    line-height: 100.5%; /* 16.08px */
  }
  label span,
  .contact_textfield span {
    color: #f00;
    margin-left: 5px;
  }

  .contact_textfield input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea,
  select {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #959799;
    font-size: 16px;
    margin: 10px 0;
  }
  .textarea {
    width: 95% !important;
  }
  .npa {
    width: 40% !important ;
  }
  .contact_textfield input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
  }
  form {
    width: 100%;
    padding: 0 0;
  }
  input::placeholder {
    color: #8e8e8e;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 132.023%;
    letter-spacing: 0.95px;
  }


  .notes_title_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0% 0;
    width: 100%;
  }
  .notes1_title_row,
  .notes2_title_row {
 
    gap: 10px;
  }
  .notes1_title_row p {
   
    font-size: 10px;
   
  }
  .notes2_title_row h4 {
    color: #0b2840;
    font-family: Plus Jakarta Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100.5%; /* 12.06px */
  }
  .show_section .a {
    color: #0b2840;
    font-family: Montserrat;
    font-size: 12px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 100.5%; /* 14.07px */
    border-radius: 2px;
    background: #d9d9d9;
    padding: 10px 20px;
  }
  .show_title h1{
    font-size: 18px;
  }
 
  
 .contact_textfield_row{
  flex-direction: column !important;
  width: 100%;
 }
 .contact_textfield{
  width: 100%;
 }
 .contact_form_wrap,
.product_form_wrap,
.facture_form_wrap,
.offer_form_wrap,
.project_form_wrap,
.time_form_wrap {
  
  height: 40vh !important;
  z-index: 9999;
}
.contact_form_content,
.product_form_content,
.facture_form_content,
.offer_form_content,
.project_form_content,
.time_form_content  {
  width: 90%;
}
#home form{
  width: 100%;
  padding: 0 0;
  height: fit-content;
}
.buttons{
  
  gap: 10px;

}
#home button {
  margin-top: 0px;
  font-size: 12px;
  padding: 0;
  text-align: start;
}
.contact_title_row h2, .close{

font-size: 18px;

}

}
